{% extends 'patient/base.html.twig' %}
{% block title %}Appointment History | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Appointment History</h2>
	</div>
{% endblock %}
