{% extends 'patient/base.html.twig' %}
{% block title %}Appointment History | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Appointment History</h2>
	</div>
	<div class="col-md-6 mx-auto">
		{% for flash_error in app.flashes('error') %}
				<div class="mt-4 mx-2 alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
	</div>
{% endblock %}
