{% extends 'patient/base.html.twig' %}
{% block title %}Book An Appointment | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Book An Appointment</h2>
	</div>
{% endblock %}
