{% extends 'doctor/base.html.twig' %}
{% block title %}Delete Working Hours | Doctor Appointment{% endblock %}
{% block content %}
    <div class="text-center mt-4">
        <h2>Delete working hours</h2>
    </div>
{% endblock %}