{% extends 'doctor/base.html.twig' %}
{% block title %}Schedule | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Schedule</h2>
	</div>
	{% include 'common/calendar.html.twig' %}
{% endblock %}
