{% extends 'doctor/base.html.twig' %}
{% block title %}
	{{ 'schedule_label'|trans }} | {{ 'app_name'|trans }}
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>{{ 'schedule_label'|trans }}</h2>
	</div>
	{% include 'common/calendar.html.twig' %}
{% endblock %}
