html, body {
    height: 100%;
}

.blockBody {
    height: calc(100% - 66px); /* 66px is a toolbar height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.security-form {
    width: 300px;
}
