{% block language %}
	{% set queries =  app.request.query.all|reduce((carry, value, key) => carry ~ key ~ '=' ~ value ~ '&', '?')|trim('&') %}
	<div class="py-4">
		<div class="dropdown position-absolute end-0 me-3" style="top: 10px">
			<a class="pe-auto" data-bs-toggle="dropdown" role="button">
				<img class="border border-black language-flag" src={{ '/assets/images/' ~ app.request.locale ~ '.svg' }} alt="language">
			</a>
			<div class="dropdown-menu p-0 mt-2 border-0" style="min-width:0">
				<a class="dropdown-item p-0" href="{{ path(app.request.get('_route'), {_locale: 'en'}) ~ queries }}">
					<img class="border border-black language-flag" src="/assets/images/en.svg" alt="English">
				</a>
				<a class="dropdown-item p-0 mt-1" href="{{ path(app.request.get('_route'), {_locale: 'pl'}) ~ queries }}">
					<img class="border border-black language-flag" src="/assets/images/pl.svg" alt="Polish">
				</a>
			</div>
		</div>
	</div>
{% endblock %}
