{% block menu %}
    <div class="container">
        <div class="text-center row">
            <div class="col-sm-6">
                <a class="link-underline link-underline-opacity-0 link-underline-opacity-50-hover"
                    href="{{ path('patient_appointment_history') }}">
                    <h6>{{ 'appointment_history_label'|trans }}</h6>
                </a>
            </div>
            <div class="col-sm-6">
                <a class="link-underline link-underline-opacity-0 link-underline-opacity-50-hover"
                    href="{{ path('patient_book_an_appointment') }}">
                    <h6>{{ 'book_an_appointment_label'|trans }}</h6>
                </a>
            </div>
        </div>
    </div>
{% endblock %}